@using InterventWebApp;
<div class="grid-x grid-margin-x">
    <div class="cell">
        <h2>Coronary Artery Calcium Score</h2>
        <form data-abide="ajax" id="canscoreinfo-form" novalidate="novalidate">
            <p>The coronary arteries supply the heart with oxygen rich blood. Atherosclerosis is the process by which cholesterol-rich plaque builds up in the walls of the coronary arteries. Over time, atherosclerotic plaque can cause blockages or narrowings in the coronary arteries. This limits the flow of oxygen-rich blood to the heart muscle and can cause a heart attack.</p>
            <p>Normal coronary arteries do not contain calcium. Atherosclerotic plaque does contain calcium.  Calcium in the coronary arteries may be a sign of plaque build-up and an increased risk for a heart attack.</p>
            <p>Calcium in the coronary arteries can be evaluated by performing a heart scan test. Your test results include a number that is called your coronary artery calcium (CAC) score. CAC scores can range from 0 to more than 400. The higher your CAC score, the greater your likelihood of having atherosclerotic plaque in your coronary arteries and the higher your chances of having a heart attack.</p>
            <p>When making recommendations for you, your doctor will interpret your CAC score together with other findings from the heart scan, your medical history and other individual factors.</p>            
        </form>
    </div>
</div>
<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
