@using InterventWebApp
<div class="grid-x rec-modal exercise">
    <div class="cell">
        <div class="grid-x">
            <h3>@Translate.Message("L2190")</h3>
            @Html.Partial("_CoreRPE")
        </div>
    </div>
</div>
<a class="close-button">&#215;</a>
