@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<section class="main">
    <div class="row" data-equalizer data-equalizer-mq="medium-up">
        <div class="columns bg-wrapper ">
            <div class="tiles columns small-12">
                <h2><i class="fa fa-ban"></i>Not Authorized</h2>
                <p>You are not authorized to view this page.</p>
            </div>
        </div>
    </div>
</section>

