* {
  margin: 0;
  padding: 0;
  outline: none;
}

#intervent-web-form {
  padding: 1.875rem;
}

.intervent-result {
    color: #666666;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
    display: block;
    margin: 0 0 0.625rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 1.25rem;
    padding-top: 6.25rem;
    text-align: center;
}

#intervent-web-form label {
  color: #666666;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
  display: block;
  margin: 0 0 0.625rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  width: 45%; }

#intervent-web-form label:nth-of-type(odd) {
  margin-right: 10%;
}

#intervent-web-form input[type="text"],
#intervent-web-form input[type="email"],
#intervent-web-form input[type="number"],
#intervent-web-form input[type="date"],
#intervent-web-form textarea {
  appearance: none;
  background: #ffffff;
  border: 1px solid #d7dbed;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #3f3d56;
  display: block;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  width: 100%;
  height: 2.25rem;
  margin: 0;
  padding: 0.5rem;
  line-height: 1.5;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
  
#intervent-web-form textarea {
  height: 3.75rem;
}

  #intervent-web-form input#in_monitor_number {
    flex: 1 0 auto;
    width: auto;
  }

#intervent-web-form input.in-button,
#intervent-web-form button.in-button {
  background-color: #2ba7f1;
  color: #ffffff;
  vertical-align: middle;
  margin: 1rem 0 1rem 0;
  padding: 0.75rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  width: auto; }

#intervent-web-form select {
  background: #ffffff;
  background-image: url("https://www.myintervent.com/Images/icon-arrow-down.png");
  background-position: right 1rem top 0.9375rem;
  background-repeat: no-repeat;
  background-size: inherit;
  border: 1px solid #d7dbed;
  border-radius: 6px;
  box-sizing: border-box;
  color: #3f3d56;
  display: block;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0 2.1875rem 0 0.5rem;
  width: 100%;
  height: 2.25rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none; }

#intervent-web-form fieldset {
  border: 1px solid #2a92a0;
  margin-bottom: 1.25rem;
  padding: 0.625rem 1.25rem;
  display: flex;
  flex-wrap: wrap; }

#intervent-web-form legend {
  color: #2a92a0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 0 0.375rem;
  width: auto;
  text-transform: uppercase; }

.loading-spinner {
  display: inline-block;
  width: 1.25rem;
  position: relative;
  margin-right: 0.4375rem; }
  .loading-spinner:before {
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
    border-radius: 6.25rem;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    content: ' ';
    position: absolute;
    top: -0.875rem;
    left: -0.3125rem;
    animation: spin-loader 500ms ease-out infinite;
    -webkit-animation: spin-loader 500ms ease-out infinite; }
    
@keyframes spin-loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes spin-loader {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.hide {
  display: none !important;
}

.in_full_length_container {
  flex: 1 0 auto;
  margin-bottom: 0.9375rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#intervent-web-form .in_full_length_container label:first-child,
#intervent-web-form .in_full_length_container label:last-child {
  flex: 1 0 auto;
  width: 100%;
}

#intervent-web-form .in_full_length_container label:last-child {
  padding-top: 15px;
}

#intervent-web-form .in_full_length_container label.in_pogo_monitor {
  display: inline-block;
  margin-left: 0.3125rem;
  margin-right: 1.25rem;
  margin-bottom: 0;
  width: auto;
}