@using InterventWebApp
@{
	ViewBag.Title = "LandingPages";
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
	ViewBag.Details = "LandingPage";
}

@Html.Partial("MetLifeGulf/_MetLifeGulfHeader")

<section class="lmc-faq-wrapper lmc-index">
	<div class="faq-bg1">
		<div class="faq-bg2">
			<div class="faq-bg3">
				<div class="grid-container">
					<div class="grid-x">
						<div class="cell large-12">
							<div class="faq-tabs-container">
								<ul class="tabs" data-tabs id="faq-tabs">
									<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Program FAQ’s</a></li>
									<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Technical Support FAQ’s</a></li>
								</ul>

								<div class="tabs-content" data-tabs-content="faq-tabs">
									<div class="tabs-panel is-active" id="panel1">

										<ul class="accordion" data-accordion>
											<li class="accordion-item is-active" data-accordion-item>
												<a href="#" class="accordion-title">Welcome</a>
												<div class="accordion-content" data-tab-content>
													<p>
														Participate in wellness services and programs provided by MetLife Gulf and INTERVENT. All at no cost to you!
														<b>
															<i>
																PLEASE NOTE: Available programs and services may vary. Please refer to your company specific communications for details.
															</i>
														</b>
													</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">Why should I participate in INTERVENT services?</a>
												<div class="accordion-content" data-tab-content>
													<p>Everybody can benefit from making lifestyle changes to improve their overall health and well-being.</p>
													<p>INTERVENT can help you be your best self! There's something for everyone.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">Who is INTERVENT?</a>

												<div class="accordion-content" data-tab-content>
													<p>Founded in 1997, INTERVENT is a physician-led, global health management company that provides its services using digital and telemedicine approaches. Its programs have been shown to be effective in numerous published studies. More than two million individuals have used INTERVENT’s services, including patients from over 150 medical centers as part of two recent large studies funded by the United States National Institutes of Health. For more information about INTERVENT, please visit <a href="https://www.INTERVENThealth.com" target="_blank"> www.INTERVENThealth.com </a></p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What is the INTERVENT health risk assessment (HRA)?</a>

												<div class="accordion-content" data-tab-content>
													<p>The INTERVENT health risk assessment includes questions about your health and well-being. It takes less than 15 minutes to complete. Once completed, you receive a personalized wellness report that provides a wellness score to show how you are doing with your own health and how you compare to your peers. It also identifies your health risks, provides realistic goals and summarizes steps you can take to benefit your mental and physical health.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">Is my personal information confidential?</a>

												<div class="accordion-content" data-tab-content>
													<p>Yes. All personal health information collected is completely confidential. Use of the information follows relevant laws, regulations and guidelines, including the U.S. Health Insurance Portability and Accountability Act of 1996 (HIPAA), as amended. INTERVENT never shares personally identifiable health information with employers or sells information to other parties.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What is the telephonic lifestyle health coaching program?</a>

												<div class="accordion-content" data-tab-content>
													<p>It’s a confidential program to help you improve your health and well-being as well as prevent and manage chronic conditions by making and sustaining healthy lifestyle changes. You’ll be paired with your own health coach who will work with you over the phone to give you individualized support, encouragement and expert guidance.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">How much time is required to participate in the coaching program?</a>

												<div class="accordion-content" data-tab-content>
													<p>The first session requires approximately 30 minutes. All other sessions are approximately 15 minutes. Your recommended number of coaching sessions is based on your personal health needs as identified in the HRA.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What are the qualifications of the coaches?</a>

												<div class="accordion-content" data-tab-content>
													<p>INTERVENT lifestyle health coaches are specially trained health professionals with a minimum of a four-year college degree in a health-related field. Many have advanced degrees. Each coach is an experienced professional who truly cares about the well-being of the participants.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What is the self-help program?</a>

												<div class="accordion-content" data-tab-content>
													<p>This version of our lifestyle management program is designed especially for people who desire to manage their own program. The self-help programs focus on a specific topic <i>(e.g., physical activity, eating habits, weight management, stress management/resiliency, tobacco cessation, diabetes prevention, blood pressure management and more.)</i> You will participate at your own pace via the Internet, so you will have the convenience of completing assessments and accessing materials at times that work for you.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">Is my personal doctor involved?</a>

												<div class="accordion-content" data-tab-content>
													<p>You are encouraged to tell your doctor about your participation in INTERVENT’s services and share copies of the reports you receive as part of your participation. He or she is likely to be very supportive and will be interested in following your progress. Your doctor remains in control of all aspects of your medical care. You should always follow your doctor’s advice.</p>
												</div>
											</li>
										</ul>
									</div>

									<div class="tabs-panel" id="panel2">
										<ul class="accordion" data-accordion>
											<li class="accordion-item is-active" data-accordion-item>
												<a href="#" class="accordion-title">What do I do for issues related to passwords?</a>
												<div class="accordion-content" data-tab-content>
													<p>To reset your password, please go to <a href="https://www.myintervent.com/metlifeGulf" target="_blank"> www.myintervent.com/metlifeGulf</a>, and click "log in." Next, click "forgot password" in the new box that appears. Enter the e-mail address associated with your account. Click "reset password". You will receive an email prompting you to reset your password. Passwords must be a minimum of eight characters and contain at least one uppercase letter, one lowercase letter, and one number.</p>
													<br />
													<p>For further assistance we are happy to assist you via email at <a href="mailto:info@myintervent.com">info@myintervent.com</a> or secure chat at <a href="https://www.myintervent.com/metlifeGulf" target="_blank"> www.myintervent.com/metlifeGulf</a></p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What do I do for issues related to being locked out of my account?</a>
												<div class="accordion-content" data-tab-content>
													<p>Please email <a href="mailto:info@myintervent.com">info@myintervent.com</a> or use the secure chat at <a href="https://www.myintervent.com/metlifeGulf" target="_blank"> www.myintervent.com/metlifeGulf</a>. In order for a customer care representative to assist you. You will need to provide your full name and MetLife Member Certificate Number.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What do I do for troubleshooting issues related to my profile and HRA?</a>
												<div class="accordion-content" data-tab-content>
													<p>If you have been idle on the site for too long, for security reasons the system will time you out. You will need to log back into your account. If this doesn’t work, please be sure to check that you don’t have the system open in multiple pages on your browser.</p>
													<p>For further assistance we are happy to assist you via email at <a href="mailto:info@myintervent.com">info@myintervent.com</a> or secure chat at <a href="https://www.myintervent.com/metlifeGulf" target="_blank"> www.myintervent.com/metlifeGulf</a>.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What do I do for issues related to my MetLife Member Certificate Number?</a>
												<div class="accordion-content" data-tab-content>
													<p>Unfortunately, we are not able to provide this information. Please contact MetLife Gulf at <a href="mailto:CustomerServices.Gulf@metlife.com">CustomerServices.Gulf@metlife.com</a> to obtain your MetLife Member Certificate Number.</p>
												</div>
											</li>
											<li class="accordion-item" data-accordion-item>
												<a href="#" class="accordion-title">What do I do for other technical issues?</a>
												<div class="accordion-content" data-tab-content>
													<p>For further assistance we are happy to assist you via email at <a href="mailto:info@myintervent.com">info@myintervent.com</a> or secure chat at <a href="https://www.myintervent.com/metlifeGulf" target="_blank"> www.myintervent.com/metlifeGulf</a>.</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="lmc-faq-custom-logo">
		<!--<div class="text-center"><a href="#"><img src="~/Images/aspc-logo.png" alt="" /></a></div>-->
	</div>

	<div class="lmc-faq-bottom"></div>
</section>
