@using InterventWebApp

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div data-sticky-container class="header-blue">
    <div class="contain-to-grid sticky" data-sticky data-stick-to="top" data-margin-top="0" data-sticky-on="small">
        <div class="menu-white-bg"></div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <nav class="top-bar lmc-nav-bar" data-topbar role="navigation">
                        <div class="title-bar" data-responsive-toggle="lmc-mobile-menu" data-hide-for="large">
                            <button class="menu-icon" type="button" data-toggle="lmc-mobile-menu"></button>
                        </div>
                        <h1 class="menu-text"><img src="~/Images/lmc/lmc-logo.png" /></h1>
                        <div class="lmc-menu-items" id="lmc-mobile-menu">
                            <ul class="menu vertical large-horizontal main-menu" data-responsive-menu="accordion large-dropdown">
                                <li class="curve-bg small-order-1"></li>

                                <li class="white-bg large-order-2 small-order-1">
                                    <a>&nbsp;</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="lmc-index lmc-wrapper title-casing service-content">
    <section class="lmc-login">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <p>
                        Optimize your health and create the life you deserve with credible, trusted and proven support from the INTERVENT app.
                    </p>
                    <h4>
                        With our app, INTERVENT participants can make lasting lifestyle changes and reduce their chronic disease risk with:
                    </h4>
                    <ul>
                        <li>An array of tools to help track health habits</li>
                        <li>Sophisticated graphic displays of health data</li>
                        <li>Easy access to your INTERVENT professional health coach</li>
                        <li>Interactive education modules and other program resources</li>
                        <li>Convenient alerts and notifications</li>
                    </ul>
                    <p>
                        INTERVENT is here to empower you so that you can finally take control of your health.
                    </p>
                    <h4>
                        About INTERVENT:
                    </h4>
                    <p>
                        Founded in 1997, INTERVENT is a physician-led, global health management company. More than 2 million individuals have participated in INTERVENT programs, with superior outcomes published in over 120 peer-reviewed scientific abstracts/manuscript. Please visit www.interventhealth.com to learn more.
                    </p>
                </div>
            </div>

        </div>

    </section>
</section>