
@{
    ViewBag.Title = "COVID19";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}


<section class="lmc-index lmc-wrapper covid19-wrapper">
    <section class="lmc-login" id="covid-banner">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="grid-x grid-margin-x">
						<div class="cell medium-6">
							<h1>COVID-19</h1>

							<h4>Coronavirus (COVID-19) Resources:</h4>

							<p>Credible and trusted resources and tips for optimizing your health and well-being during the COVID-19 pandemic.</p>
						</div>

						<div class="medium-6">
							<img src="~/Images/Covid19/banner-img.svg" alt="Banner Image" />
						</div>
                    </div>
				</div>
            </div>
        </div>
    </section>

    <section class="covid-anchor" data-sticky-container>
    	<div class="text-center sticky" data-sticky data-margin-top="0" data-top-anchor="covid-banner:bottom" data-sticky-on="small">
	    	<ul class="text-center" id="covid-anchor-list">
	    		<li><a href="#covid-website">Websites</a></li>
	    		<li><a href="#covid-tips">Tips</a></li>
	    		<li><a href="#covid-pregnancy">For New Moms</a></li>
	    	</ul>
    	</div>
    </section>

    <section class="covid-website covid-section" id="covid-website">
    	<div class="grid-container">
    		<div class="grid-x grid-margin-x grid-margin-y">
    			<div class="cell">
		            <h4>Websites:</h4>
		            <p>with the latest information on COVID-19</p>
		        </div>
		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank"><img src="~/Images/Covid19/cdc-logo.png" alt=""></a></p>
        				<p><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">The Centers for Disease Control and Prevention</a></p>
		        	</div>
		        </div>

		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank"><img src="~/Images/Covid19/who-logo.png" alt=""></a></p>
        				<p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">The World Health Organization</a></p>	
		        	</div>
		        </div>
    		</div>
    	</div>        
    </section>

    <section class="covid-tips covid-section" id="covid-tips">
    	<div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell">
                    <h4>Tips:</h4>
                    <p>to fight COVID-19 while keeping yourself and others safe</p>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/higher-risk activities unvaccinated COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/yoga.png" alt=""></a></p>

                        <p><a href="../Pdf/higher-risk activities unvaccinated COVID-19.pdf" target="_blank">Higher-Risk Activities for Unvaccinated Individuals During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/thanksgiving COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/grocery-shop.png" alt=""></a></p>

                        <p><a href="../Pdf/thanksgiving COVID-19.pdf" target="_blank">Thanksgiving COVID-19</a></p>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/Halloween COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/grocery-shop.png" alt=""></a></p>

                        <p><a href="../Pdf/Halloween COVID-19.pdf" target="_blank">Halloween during COVID-19</a></p>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/exercise indoors COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/yoga.png" alt=""></a></p>

                        <p><a href="../Pdf/exercise indoors COVID-19.pdf" target="_blank">Exercising Indoors During COVID-19</a></p>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/Eating out COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/grocery-shop.png" alt=""></a></p>

                        <p><a href="../Pdf/Eating out COVID-19.pdf" target="_blank">Eating Out During COVID-19</a></p>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/ExerciseOutdoorsCOVID-19.pdf" target="_blank"><img src="~/Images/Covid19/excercise-img.png" alt=""></a></p>
                        <p><a href="../Pdf/ExerciseOutdoorsCOVID-19.pdf" target="_blank">Exercising Outdoors During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/VisitingDoctorCOVID-19.pdf" target="_blank"><img src="~/Images/Covid19/doctor-pharmacy.png" alt=""></a></p>
                        <p><a href="../Pdf/VisitingDoctorCOVID-19.pdf" target="_blank">Visiting Your Doctor and Pharmacy During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/GroceryShoppingCOVID-19.pdf" target="_blank"><img src="~/Images/Covid19/grocery-shop.png" alt=""></a></p>

                        <p><a href="../Pdf/GroceryShoppingCOVID-19.pdf" target="_blank">Grocery Shopping During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/ImmuneSystemCOVID-19.pdf" target="_blank"><img src="~/Images/Covid19/doctor-pharmacy.png" alt=""></a></p>

                        <p><a href="../Pdf/ImmuneSystemCOVID-19.pdf" target="_blank">Nutrients to Support Your Immune System During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/AvoidAlterAdaptCOVID-19Handout.pdf" target="_blank"><img src="~/Images/Covid19/running-clock.png" alt=""></a></p>

                        <p><a href="../Pdf/AvoidAlterAdaptCOVID-19Handout.pdf" target="_blank">Coping with Stress During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/YourTimeAtHomeCOVID-19Handout.pdf" target="_blank"><img src="~/Images/Covid19/excercise-img.png" alt=""></a></p>

                        <p><a href="../Pdf/YourTimeAtHomeCOVID-19Handout.pdf" target="_blank">Making the Most of your Time While Social Distancing</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks" target="_blank"><img src="~/Images/Covid19/running-clock.png" alt=""></a></p>

                        <p><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks" target="_blank">When and How to Use Masks</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html" target="_blank"><img src="~/Images/Covid19/excercise-img.png" alt=""></a></p>

                        <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html" target="_blank">Use of Cloth Face Coverings to Help Slow the Spread of COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/COVID19-What-You-Can-Do-High-Risk.pdf" target="_blank"><img src="~/Images/Covid19/yoga.png" alt=""></a></p>

                        <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/COVID19-What-You-Can-Do-High-Risk.pdf" target="_blank">What You Can do if You are at Higher Risk of Severe Illness from COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/visiting recreational areas COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/excercise-img.png" alt=""></a></p>

                        <p><a href="../Pdf/visiting recreational areas COVID-19.pdf" target="_blank">Visiting Recreational Spaces During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/using transportation COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/running-clock.png" alt=""></a></p>

                        <p><a href="../Pdf/using transportation COVID-19.pdf" target="_blank">Using Transportation During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/high risk groups COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/doctor-pharmacy.png" alt=""></a></p>

                        <p><a href="../Pdf/high risk groups COVID-19.pdf" target="_blank">High-Risk Groups for COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/social events COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/running-clock.png" alt=""></a></p>

                        <p><a href="../Pdf/social events COVID-19.pdf" target="_blank">Organizing Social Events During COVID-19</a></p>
                    </div>
                </div>

                <div class="cell small-12 medium-6 large-4">
                    <div class="covid-card cards">
                        <div class="covid-share">
                        </div>
                        <p><a href="../Pdf/outdoor get together COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/excercise-img.png" alt=""></a></p>

                        <p><a href="../Pdf/outdoor get together COVID-19.pdf" target="_blank">Hosting an Outdoor Get-together During COVID-19</a></p>
                    </div>
                </div>
            </div>
		</div>          
    </section>

    <section class="covid-pregnancy covid-section" id="covid-pregnancy">
    	<div class="grid-container">
    		<div class="grid-x grid-margin-x grid-margin-y">
    			<div class="cell">
		            <h4>For New Moms:</h4>
		            <p>If you are pregnant or nursing</p>
		        </div>

		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/pregnancy-breastfeeding.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fprepare%2Fpregnancy-breastfeeding.html" target="_blank"><img src="~/Images/Covid19/doctor-pharmacy.png" alt=""></a></p>

		        		<p><a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/pregnancy-breastfeeding.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fprepare%2Fpregnancy-breastfeeding.html" target="_blank">The CDC's Guidelines for Pregnancy, Breastfeeding, and Caring for the Young </a></p>
		        	</div>
		        </div>

		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="https://www.acog.org/clinical/clinical-guidance/practice-advisory/articles/2020/03/novel-coronavirus-2019" target="_blank"><img src="~/Images/Covid19/running-clock.png" alt=""></a></p>

                    	<p><a href="https://www.acog.org/clinical/clinical-guidance/practice-advisory/articles/2020/03/novel-coronavirus-2019" target="_blank">The American College of Obstetricians and Gynecologists</a></p>
		        	</div>
		        </div>

		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="../Pdf/VisitingDoctorMLMCOVID-19.pdf" target="_blank"><img src="~/Images/Covid19/yoga.png" alt=""></a></p>
		      
                    	<p><a href="../Pdf/VisitingDoctorMLMCOVID-19.pdf" target="_blank">Visiting Your Health Care Providers While Pregnant During COVID-19</a></p>
		        	</div>
		        </div>

		        <div class="cell small-12 medium-6 large-4">
		        	<div class="covid-card cards">
		        		<div class="covid-share">
		        		</div>
		        		<p><a href="../Pdf/Breastfeeding MLM COVID-19.pdf" target="_blank"><img src="~/Images/Covid19/doctor-pharmacy.png" alt=""></a></p>
		      
                    	<p><a href="../Pdf/Breastfeeding MLM COVID-19.pdf" target="_blank">Breastfeeding During COVID-19</a></p>
		        	</div>
		        </div>
		    </div>
		</div>                    	
    </section>
</section>

<script>
	$(".covid-anchor li").on("click", function(e) {
		e.preventDefault();
		$(".covid-anchor li").removeClass("active");
		$(this).addClass("active");

		var target = $(this).find("a").attr("href");
	    $('html, body').stop().animate({
	        'scrollTop': $(""+target).offset().top - 45
	    }, 800);
	});
	
	$(window).on('scroll', function() {
		$('.covid-section').each(function() {
			if($(window).scrollTop() >= $(this).offset().top - 60) {
				var id = $(this).attr('id');
				$(".covid-anchor li").removeClass("active");
				$('.covid-anchor li a[href="#'+ id +'"]').parent('li').addClass('active');
			}
		});
	});
</script>