<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntuityEligibilityPath" value="C:\Eligibility\IntuityEligibility" />
    <add key="IntuityFolderPath" value="C:\Eligibility\IntuityEligibility" />
    <add key="CaptivaFolderPath" value="C:\Eligibility\CaptivaEligibility" />
    <add key="captivaOrgId" value="2" />
    <add key="TeamsBPOrgId" value="1091" />
    <add key="TeamsBPOrgId" value="1091" />
    <add key="IntuityAPIURL" value="https://intuityepdev-env.eba-rx37s5q4.us-east-2.elasticbeanstalk.com" />
    <add key="IntuityAPIToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MzU5MjE5NDEsInVzZXJfaWQiOjJ9.j9luxMqPotnpNCYkq0lDyEzt02WWGRZFxHDLzyNIRqA" />
    <add key="ZoomAPIURL" value="https://api.zoom.us/" />
    <add key="EbenFolderPath" value="C:\Eligibility\EbenFolderPath" />
    <add key="SystemAdminId" value="47245" />
    <add key="CallBackURL" value="https://myintervent.com/api/CallBack/CallBackIntervent/" />
    <add key="SFaxAPIUrl" value="https://api.sfaxme.com/api/" />
    <add key="DexcomBaseUrl" value="https://sandbox-api.dexcom.com" />
    <add key="OmronAuthUrl" value="https://stg-oauth-website.ohiomron.com/" />
    <add key="OmronApiUrl" value="https://stg-oauth.ohiomron.com/stg/" />
    <add key="OmronClientId" value="myintervent-api" />
    <add key="OmronClientSecret" value="58c11a4a7362fe2d4b05d06d463c1362723723c8267d6a196de20bb9859469e9" />
    <add key="OmronRedirectUrl" value="http://localhost:64230/OAuth/OmronCallback" />
  </appSettings>
</configuration>
