@{
	ViewBag.Title = "LandingPages";
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
	ViewBag.Details = "LandingPage";
}

@Html.Partial("LMC/_LMCHeader")

<section class="lmc-prog-wrapper lmc-index">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-4" data-sticky-container>
                <article class="lmc-sidebar sticky" data-sticky data-margin-top="3.75" data-btm-anchor="diabetes-section:bottom" data-sticky-on="small">
                    <div class="prog-sidebar-links">
                        <p class="mobile-dropdown">Employer Rewards</p>

                        <ul>
                            <li class="is-active"><a href="#wellness-section" data-offset="60"><img src="~/Images/lmc/lmc-icon-wellness.png" alt="">Wellness Credits</a></li>
                            <li><a href="#maternity-section" data-offset="20"><img src="~/Images/lmc/lmc-icon-gift-card.png" alt="">Maternity Gift Cards</a></li>
                            <li><a href="#tobacco-section" data-offset="20"><img src="~/Images/lmc/lmc-icon-tobacco-free.png" alt="">Free From Tobacco program</a></li>
                        </ul>
                    </div>
                    <div class="prog-sidebar-links">
                        <p>Intervent Incentives</p>

                        <ul>
                            <li><a href="#reward-section" data-offset="20"><img src="~/Images/lmc/lmc-icon-reward-point.png" alt="">Reward Points For Activities</a></li>
                        </ul>
                    </div>
                    <div class="prog-sidebar-links">
						<p>Assessments</p>

                        <ul>
                            <li><a href="#health-section" data-offset="20"><img src="~/Images/lmc/lmc-icon-health-assess.png" alt="">Health Assessment</a></li>
                        </ul>
                    </div>
                    <div class="prog-sidebar-links">
						<p>All Programs</p>

                        <ul>
                            <li><a href="#coached-section" data-offset="60"><img src="~/Images/lmc/lmc-icon-coach-prog.png" alt="">Coached Programs</a></li>
                            <li><a href="#self-help-section" data-offset="80"><img src="~/Images/lmc/lmc-icon-self-help.png" alt="">Self-Help Programs</a></li>
                            <li><a href="#diabetes-section" data-offset="80"><img src="~/Images/lmc/lmc-icon-diabetes.png" alt="">Diabetes Prevention Program</a></li>
                        </ul>
                    </div>
                </article>
            </div>

            <div class="cell large-9 medium-8">
                <section class="prog-detail-section lmc-wellness-sec" id="wellness-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>Employer Rewards</span>Wellness Credits</h3>
                            <p>If you or your spouse are enrolled in an eligible Compass Group medical plan, you can each earn wellness credits toward your 2019 medical deductions by taking three easy steps: 
								<a href="#" class="read-more-link">Read More</a>
								<span class="read-more-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolore exercitationem quasi quis laboriosam ea ut deleniti obcaecati id totam, odio natus necessitatibus cum quia aspernatur harum quas, veniam officia.</span>
							</p>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-wellness.png" alt="" /></div>
                    </div>

                    <div class="content-section">
                        <div class="white-container">
                            <ul>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">Step 1</span>
                                        <p>Complete 2019 your health risk assessment</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon10.png" width="20" height="20" alt="" /> $1
                                            <span>weekly wellness credit</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">Step 2</span>
                                        <p>Submit a validated blood test from your doctor or LabCorp</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon10.png" width="20" height="20" alt="" /> $2
                                            <span>weekly wellness credit</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">Step 3</span>
                                        <p>Participate in a Coaching Results call</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon10.png" width="20" height="20" alt="" /> $3
                                            <span>weekly wellness credit</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
						<div class="conditional-text text-right"><p>*Wellness credit amounts may vary based on your payroll cycle.</p></div>
					</div>
                </section>
                <!--Prog Wellness section ends-->

                <section class="prog-detail-section lmc-maternity-gift-sec" id="maternity-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>Employer Rewards</span>Maternity Gift Cards</h3>
                            <p>Compass Group provides the following rewards for women who complete the INTERVENT maternity lifestyle management program:</p>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-maternity-gift.png" alt="" /></div>
                    </div>

                    <div class="content-section">
                        <div class="white-container">
                            <ul>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">Weeks 01 - 13</span>
                                        <p>Enrolled in the first trimester</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon2.png" width="19" height="13" alt="" /> $500
                                            <span>Gift Card</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">weeks 14 to 26</span>
                                        <p>Enrolled in the second trimester</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon2.png" width="19" height="13" alt="" /> $250
                                            <span>Gift Card</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="white-prog-left">
                                        <span class="step-number">After Week 26</span>
                                        <p>Enrolled in the third trimester</p>
                                    </div>
                                    <div class="callout">
                                        <p>
                                            <span>You’ll Earn</span>
                                            <img src="~/Images/challenge/icon2.png" width="19" height="13" alt="" /> $100
                                            <span>Gift Card</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <p>INTERVENT’s caring, dedicated health coaches help identify resources to support the pregnancy and delivery of a healthy baby. After the baby is born, coaches help manage aspects of lifestyle that are important during the post-partum period, such as getting back in shape, losing weight and/or managing stress.</p>
                    </div>
                </section>
                <!--Maternity gift section ends-->

                <section class="prog-detail-section lmc-tobacco-free-sec" id="tobacco-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>Employer Rewards</span>Free From Tobacco Program</h3>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-tobacco-free.png" alt="" /></div>
                    </div>

                    <div class="content-section">
						<div class="white-container clearfix">
							<div class="thumb-img-video"><img src="~/Images/lmc/lmc-video-image.png" alt="" /></div>
							<h4>Want to quit Tobacco and nicotine?</h4>
							<p>If you use tobacco and want to quit, We will provide access to the free INTERVENT tobacco cessation program along with non-prescription nicotine replacement therapy and certain prescription tobacco cessation medications covered at 100 percent. And, by completing four coaching sessions over 12 weeks, the 2019 tobacco surcharge will be removed.</p>
						</div>
                    </div>
                </section>
                <!--Tobacco free section ends-->

                <section class="prog-detail-section lmc-reward-sec" id="reward-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>Intervent Incentives</span>Reward Points for activites</h3>
							<p>
								You can win valuable gift cards from INTERVENT. INTERVENT provides points for completing various program activities and holds monthly, quarterly, semi-annual and annual drawings
								<a href="#" class="read-more-link">Read More</a>
								<span class="read-more-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolore exercitationem quasi quis laboriosam ea ut deleniti obcaecati id totam, odio natus necessitatibus cum quia aspernatur harum quas, veniam officia.</span>
							</p>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-rewards-points.png" alt="" /></div>
                    </div>
                    <div class="content-section">
                        <div class="white-container">
                            <ul class="lmc-rewards-list">
                                <li>
                                    <span class="challange-name">Complete</span>
                                    <span class="challange-point">You’ll Earn</span>
                                </li>
                                <li>
                                    <span class="challange-name">Health Assessment</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />150 Points</span>
                                </li>
                                <li>
                                    <span class="challange-name">First health coaching session</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />100 Points</span>
                                </li>
                                <li>
                                    <span class="challange-name">All coaching sessions</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />250 Points</span>
                                </li>
                                <li>
                                    <span class="challange-name">Participant satisfaction survey</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />50 Points</span>
                                </li>
                                <li>
                                    <span class="challange-name">Primary Care Physician</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />200 Points</span>
                                </li>
                                <li>
                                    <span class="challange-name">Bonus Points</span>
                                    <span class="challange-point"><img src="~/Images/challenge/icon10.png" width="20" height="20" alt="Alternate Text" />50+ Points</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--Rewards point section ends-->

                <section class="prog-detail-section lmc-reward-sec lmc-activity-reward">
                    <div class="title-section">
                        <div class="title-content">
							<h3>Gift cards &amp; raffel draws</h3>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-rewards-activity.png" alt="" /></div>
                    </div>
                    <div class="content-section">
						<div class="white-container">
							<div class="reward-table-fixed track-detail">
								<table>
									<thead>
										<tr class="level-row">
											<td></td>
										</tr>
										<tr class="heading-row">
											<td>Total Points</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<p>
													Monthly raffle
													<span>for $100 gift cards</span>
													<span>Next on: 22 Jan</span>
												</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>
													Quarterly Raffle
													<span>for $250 gift cards</span>
													<span>Next on: 15 Apr</span>
												</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>
													Semi-Annual Raffle
													<span>for $500 gift cards</span>
													<span>Next on: 10 May</span>
												</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>
													Annual Raffle
													<span>for $1000 gift cards</span>
													<span>Next on: 29 Nov</span>
												</p>
											</td>
										</tr>
										<tr>
											<td>
												<p>
													Wellness Key* <i>i</i>
													<span>2 Keys To Unlock</span>
													<span>$2500 Sweepstakes</span>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="reward-table-scroll track-detail">
								<table>
									<thead>
										<tr class="level-row">
											<td><img src="../Images/challenge/icon11.png" width="17" /> <span>Member</span></td>
											<td><img src="../Images/challenge/icon6.png" width="22" /> <span>VIP / Prime</span></td>
											<td><img src="../Images/challenge/icon5.png" width="22" /> <span>Elite</span></td>
											<td><img src="../Images/challenge/icon1.png" width="40" /> <span>Elite Plus</span></td>
										</tr>
										<tr class="heading-row">
											<td><div class="headingicon"><img src="../Images/challenge/icon10.png" width="15" /> 1-250</div></td>
											<td><div class="headingicon"><img src="../Images/challenge/icon10.png" width="15" /> 251-499</div></td>
											<td><div class="headingicon"><img src="../Images/challenge/icon10.png" width="15" /> 500-999</div></td>
											<td>
												<div class="headingicon">
													<img src="../Images/challenge/icon10.png" width="15" />1,000 or more
												</div>
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
										</tr>
										<tr>
											<td></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td><img src="~/Images/lmc/lmc-table-tick-icon.png" alt="" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
                    </div>
                </section>
                <!--Rewards point section ends-->

                <section class="prog-detail-section lmc-health-asses-sec" id="health-section">
                    <div class="title-section">
                        <div class="title-content">
                            <h3><span>Assessments</span>Health Assessment</h3>
							<p>
								The foods you eat, the stress you feel and the activities you do all affect your health. Now you can find out how by completing our health risk assessment (HRA).
								<a href="#" class="read-more-link">Read More</a>
								<span class="read-more-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolore exercitationem quasi quis laboriosam ea ut deleniti obcaecati id totam, odio natus necessitatibus cum quia aspernatur harum quas, veniam officia.</span>
							</p>
                        </div>
                        <div class="title-image"><img src="~/Images/lmc/lmc-health-assess.png" alt="" /></div>
                    </div>
                </section>
                <!--Health Assessment section ends-->

                <section class="prog-detail-section lmc-accordion-sec">
                    <div class="title-section">
                        <div class="title-content">
							<h3><span>All Programs</span>Specialized Health Programs</h3>
                        </div>
                    </div>

                    <div class="content-section">
                        <ul class="accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item white-container prog-detail-section is-active" data-accordion-item id="coached-section">
                                <!-- Accordion tab title -->
                                <a href="#" class="accordion-title">Coached Programs</a>

                                <div class="accordion-content" data-tab-content>
                                    <p>This version of our lifestyle management program is designed especially for people who desire to manage their own program. The self-help programs focus on a specific topic (for example, nutrition, exercise, weight management or stress management).</p>
                                    <p>You will participate at your own pace via the Internet, so you will have the convenience of completing assessments and accessing and printing materials at times that work for you. While this program is not a quick solution, it’s a safe, proven way to help you get started toward achieving lasting results. And, you receive the same high quality educational materials and tools as our other scientifically proven programs.</p>
                                    <p>You must first complete a health risk assessment (HRA) before enrolling. You may call us at @TempData.Peek("OrgContactNumber").ToString() if you have any questions.</p>
                                </div>
                            </li>

                            <li class="accordion-item white-container prog-detail-section" data-accordion-item id="self-help-section">
                                <!-- Accordion tab title -->
                                <a href="#" class="accordion-title">Self-Help Programs</a>

                                <div class="accordion-content" data-tab-content>
                                    <p>This version of our lifestyle management program is designed especially for people who desire to manage their own program. The self-help programs focus on a specific topic (for example, nutrition, exercise, weight management or stress management).</p>
                                </div>
                            </li>

                            <li class="accordion-item white-container prog-detail-section" data-accordion-item id="diabetes-section">
                                <!-- Accordion tab title -->
                                <a href="#" class="accordion-title">Diabetes Prevention Program</a>

                                <div class="accordion-content" data-tab-content>
                                    <p>This version of our lifestyle management program is designed especially for people who desire to manage their own program. The self-help programs focus on a specific topic (for example, nutrition, exercise, weight management or stress management).</p>
                                    <p>You will participate at your own pace via the Internet, so you will have the convenience of completing assessments and accessing and printing materials at times that work for you. While this program is not a quick solution, it’s a safe, proven way to help you get started toward achieving lasting results. And, you receive the same high quality educational materials and tools as our other scientifically proven programs.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--Programs accordion section ends-->
            </div>
        </div>
    </div>

    <section class="take-step-section text-center">
        <h2>Take a step towards healthy living</h2>
        <div class="button-group align-center">
            <button class="button">Join Intervent</button>
            <button class="button hollow">Sign in</button>
        </div>
    </section>
</section>

<script>
    $(document).ready(function () {
        $(".prog-sidebar-links li a").on('click', function (e) {
            e.preventDefault();

            //Scroll to respective section
            var hash = $(this).attr("href");
            var topMargin = parseInt($(this).attr("data-offset"));

            $('html, body').animate({
                scrollTop: $(hash).position().top - topMargin
            }, 800);

            //Highlighting the active menu item
            if (!$(this).parent("li").hasClass("is-active")) {
                $(".prog-sidebar-links li").removeClass("is-active");
                $(this).parent("li").addClass("is-active");
            }

			if($(window).width() < 641){
				$("p.mobile-dropdown").toggleClass("is-active");
				$(this).parents("article.lmc-sidebar").toggleClass("is-active");
			}
        });

		$(window).on('scroll', function() {
          $('.prog-detail-section').each(function() {
              if($(window).scrollTop() >= $(this).offset().top - 60) {
                  var id = $(this).attr('id');
                  $('.prog-sidebar-links ul li').removeClass('is-active');
                  $('.prog-sidebar-links ul li a[href="#'+ id +'"]').parent('li').addClass('is-active');
              }
          });
		});

		$("p.mobile-dropdown").on('click', function(){
			if($(window).width() < 641){
				$(this).toggleClass("is-active");
				$(this).parents("article.lmc-sidebar").toggleClass("is-active");
			}
		});
	
		$("a.read-more-link").on('click', function(e) {
			e.preventDefault();
			$(this).hide();
			$(this).siblings("span.read-more-content").show();
		});
    });
</script>
